* {
  box-sizing: border-box
}

.mainBody {
  margin: 0;
  background-color: aqua;
  width: 100%;
  height: 100%
}

.gameBody {
  height: 80%;
  background-color: brown
}

.invBody {
  height: 80%;
  width: 300px;
  position: fixed;
  float: left;
  background-color: blue
}

.invBox {
  margin: 10px;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: blueviolet
}

.main {
  width: 100%;
  height: 100%
}

.column {
  float: left;
  padding: 10px;
  height: 80%;
}

.column.right {
  width: 20%;
  background-color: aqua;
}

.column.left {
  width: 80%;
  background-color: blue;
}